@using CoreLayer.ViewModels.Chats
@model List<UserGroupViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" enctype="multipart/form-data" onsubmit="insertGroup(event)">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
				<button type="submit" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
				<br />
				<input type="file" accept="image/*" name="image" class="form-control" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
				<button type="submit" class="btn btn-success">ایجاد</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-8 chat-content">
		<div class="header">
			<img src="img/Default.jpg" />
			<h2>علی</h2>
		</div>
		<div class="chats">
			<div class="chat-me">
				<div class="chat">
					<p>سلام خوبی چه خبر ؟ </p>
					<span>2020/06/05</span>
				</div>
			</div>
			<div class="chat-you">
				<div class="chat">
					<p>سلام ممنون </p>
					<span>2020/06/05</span>
				</div>
			</div>
		</div>
		<div class="footer">
			<form onsubmit="sendMessage(event)">
				<input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
				<button class="btn btn-success">
					ارسال
					<i class="fa fa-send"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="col-4 rooms">
		<Ul>
			<li>
				<form>
					<input type="text" onkeyup="search()" id="searchInput" placeholder="جستوجو کنید" class="form-control" />
					<i class="fa fas fa-search"></i>
				</form>
			</li>
			<li id="searchResult" style="cursor:none; padding: 0; display:none">
				<ul>
					@*<li class="alert alert-warning">Not Found</li>*@
				</ul>
			</li>
			<li id="userGroups" style="cursor:none; padding: 0">
				<ul>
					<li>
						<button class="btn btn-success d-block w-100" data-toggle="modal" data-target="#exampleModal">
							<i class="fa fa-plus">
								ایجاد گروه جدید
							</i>
						</button>
					</li>
					@foreach (var item in Model)
					{

						<li data-id="@item.Token">
							@item.GroupName
							@{
								var imagePath = string.IsNullOrEmpty(item.ImageName) ? "/img/Defaults.jpg" : "/image/groups/@item.ImageName";
							}
							<img src="@imagePath" />
							@if (item.LastChat != null)
							{
								var time = item.LastChat.CreateDate;
								<span>@time.Date.ToString("MM/dd/yyyy H:mm")</span>
							}
						</li>
					}
				</ul>
			</li>
		</Ul>
	</div>
</div>
@section Scripts {
<script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
	var connection = new signalR.HubConnectionBuilder()
	.withUrl("/chat")
	.build();

	connection.on("Greeting",function(txt){
		console.log(txt);
	});
	connection.on("ReceiveMessage", onReceiveMessageResult);
	connection.on("NewGroup",appendGroup);

	connection.start();

	function onReceiveMessageResult(text){
		console.log(text);
	}

	function sendMessage(event){
		event.preventDefault();//prevent refresh
		var text = $("#messageText").val();
		connection.invoke("SendMessage",text)
	}

	function insertGroup(event){
		event.preventDefault();
		//console.log(event.target);
		var groupName = event.target[0].value;
		var imageFile = event.target[1].files[0];

		var formData = new FormData();
		formData.append("GroupName", groupName);
		formData.append("ImageFile", imageFile);
		$.ajax({
			url:"/home/CreateGroup",
			type:"post",
			data:formData,
			enctype:"multipart/form-data",
			processData:false,
			contentType:false
		});
		//var text = $("#groupName").val();
		//if(text){
		//	connection.invoke("CreateGroup", text);
		//}
	}

	function appendGroup(groupName, token, imageName){
		console.log('appendGroup');
		//appendGroup
		if(groupName === "Error") {
			alert("ERROR!");
		} else {
			$(".rooms #userGroups ul").append(
				`<li data-id='${token}'>
				${groupName}
				<img src="/image/groups/${imageName}"/>
				<span>**</span> </li>`);

			$("#exampleModal").modal('toggle');
		}
	}

	function search(){
	var text = $("#searchInput").val();
		if(text){
			$('#searchResult').show();
			$('#userGroups').hide();
			$.ajax({
				url="/home/search?title="+text,
				type = "get",
			}).done(function (data){
				for (var i in data){
					$("#searchResult ul").html("");

					if(data[i].isUser){
					$("#searchResult ul").append(
						`<li data-user-id='${data[i].token}'>
							${data[i].title}
							<img src="/img/${data[i].imageName}"/>
							<span></span>
						</li>`);
					}
				else{
					$("#searchResult ul").append(
						`<li data-id='${data[i].token}'>
							${data[i].title}
							<img src="/image/groups/${data[i].imageName}"/>
							<span>/*$createDate*/</span>
						</li>`);}
				}
			})
		} else {
			$('#searchResult').hide();
			$('#userGroups').show();
		}
	}

</script>
}