@using DataLayer.Entities.Chats
@model List<ChatGroup>
@{
	ViewData["Title"] = "Home Page";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<form class="modal-content" onsubmit="insertGroup(event)">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
				<button type="submit" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
				<button type="submit" class="btn btn-success">ایجاد</button>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-8 chat-content">
		<div class="header">
			<img src="img/Default.jpg" />
			<h2>علی</h2>
		</div>
		<div class="chats">
			<div class="chat-me">
				<div class="chat">
					<p>سلام خوبی چه خبر ؟ </p>
					<span>2020/06/05</span>
				</div>
			</div>
			<div class="chat-you">
				<div class="chat">
					<p>سلام ممنون </p>
					<span>2020/06/05</span>
				</div>
			</div>
		</div>
		<div class="footer">
			<form onsubmit="sendMessage(event)">
				<input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
				<button class="btn btn-success">
					ارسال
					<i class="fa fa-send"></i>
				</button>
			</form>
		</div>
	</div>
	<div class="col-4 rooms">
		<Ul>
			<li>
				<form>
					<input type="text" placeholder="جستوجو کنید" class="form-control" />
					<i class="fa fas fa-search"></i>
				</form>
			</li>
			<li>
				Global
				<img src="img/Default.jpg" />
				<span>17:20 1400/01/15 </span>
			</li>
			<li>
				<button class="btn btn-success d-block w-100" data-toggle="modal" data-target="#exampleModal">
					<i class="fa fa-plus">
						ایجاد گروه جدید
					</i>
				</button>
			</li>
			@foreach (var item in Model)
			{
				var lastChat = item.Chats.LastOrDefault();
				<li data-id="@item.GroupToken">
					@item.GroupTitle
					<img src="/img/Default.jpg" />
					@if (lastChat != null)
					{
						var time = lastChat.CreateDate;
						<span>@time.Date.ToString("MM/dd/yyyy H:mm")</span>
					}
				</li>
			}

		</Ul>
	</div>
</div>
@section Scripts {
<script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script>
	var connection = new signalR.HubConnectionBuilder()
	.withUrl("/chat")
	.build();

	connection.on("Greeting",function(txt){
		console.log(txt);
	});
	connection.on("ReceiveMessage", onReceiveMessageResult);
	connection.on("NewGroup",appendGroup);

	connection.start();

	function onReceiveMessageResult(text){
		console.log(text);
	}

	function sendMessage(event){
		event.preventDefault();//prevent refresh
		var text = $("#messageText").val();
		connection.invoke("SendMessage",text)
	}

	function insertGroup(event){
		event.preventDefault();
		var text = $("#groupName").val();
		if(text){
			connection.invoke("CreateGroup", text);
		}
	}

	function appendGroup(groupName, token){
		console.log('appendGroup');
		//appendGroup
		if(groupName === "Error") {
			alert("ERROR!");
		} else {
			$(".rooms ul").append(
				`<li data-id='${token}'>
				${groupName}
				<img src="/img/Default.jpg"/>
				<span>**</span> </li>`);

			$("#exampleModal").modal('toggle');
		}
	}

</script>
}